.pageContainer,
.welcomeContainer,
.userContainer,
.artistContainer,
.galleryInfoContainer,
.galleryContactContainer,
.contactContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);
}

.pageContainer,
.welcomeContainer,
.userContainer,
.artistContainer,
.galleryInfoContainer,
.contactContents {
    max-width: 1200px;
    background: var(--color-transparent);
}

.welcomeContainer,
.userContainer,
.artistContainer,
.contactContents {
    border: var(--border-lg) var(--color-light);
    border-radius: var(--border-radius-lg);
    margin: var(--spacing-md);
}

.welcomeContainerContents,
.userContainerContents,
.artistContainerContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.welcomeContainerContents p,
.userContainerContents p,
.artistContainerContents p,
.contactContainerContents p{
    font: var(--font-family-alt);
    font-size: var(--font-size-medium);
    color: var(--color-black);
    padding: var(--spacing-md);
    width: 100%;
}

.welcomeContainerContents span,
.userContainerContents span,
.artistContainerContents span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    max-height: 300px;
}

.welcomeContainerContents img,
.userContainerContents img,
.artistContainerContents img {
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
}

.contactContents a {
    color: var(--color-secondary);
    font-family: var(--font-family-alt), sans-serif;
    padding: var(--spacing-sm);
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .userContainerContents,
    .contactContents {
        flex-direction: column;
    }

    .welcomeContainerContents,
    .artistContainerContents{
        flex-direction: column-reverse;
    }
}
