.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    max-width: 1200px;
    background: var(--color-transparent);
}

.editArtworkFormContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    background: var(--color-transparent);
    font-family: var(--font-family-alt);
}

.inputFieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background: var(--color-transparent);
    font-family: var(--font-family-alt);
}

.editArtworkForm{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background: var(--color-transparent);
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
    font-family: var(--font-family-alt);
    border-radius: var(--border-radius-lg);
    border: var(--border-md) var(--color-light);
    box-shadow: var(--shadow-md);
}

.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: var(--font-size-medium);
}

.inputField {
    padding: var(--spacing-sm);
    width: 80%;
    min-width: 150px;
    font: var(--font-family-alt);
    font-size: var(--font-size-medium);
    border-radius: var(--border-radius-lg);
    border: var(--border-md) var(--color-light);
}

.errorMessage {
    padding: 4px; /* Adjust the value as needed */
    border: var(--border-sm) var(--color-dark);
    color: var(--color-dark); /* Optional: Set the color for error messages */
    font-size: var(--font-size-small); /* Optional: Set the font size for error messages */
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    padding: var(--spacing-xxl) 0;
    border: var(--border-md) var(--color-light);
    border-radius: var(--border-radius-md);
}

.imageContainer label {
    margin-bottom: var(--spacing-md); /* Add margin below the label */
}

.customFileUpload {
    display: inline-block;
    position: absolute; /* Change position to absolute */
    cursor: pointer;
    top: 0; /* Position at the top of the container */
    left: 0; /* Position at the left of the container */
    width: 100%; /* Cover the entire container */
    height: 100%; /* Cover the entire container */
}

.customFileUpload input[type="file"] {
    opacity: 0; /* Make the file input invisible */
    width: 100%; /* Cover the entire container */
    height: 100%; /* Cover the entire container */
    cursor: pointer; /* Change cursor to pointer */
}

.fileName {
    margin-top: var(--spacing-sm); /* Add margin above the file name */
    font-size: var(--font-size-small); /* Adjust the font size as needed */
}

.fileInput {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.uploadIcon {
    font-size: var(--font-size-xlarge);
    color: var(--color-secondary);
}

.currencyWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-size: var(--font-size-large);
}