button {
    background-color: var(--color-dark);
    border: var(--border-md) var(--color-light);
    color: var(--color-primary);
    border-radius: 10px;
    padding: 12px 24px;
    font-family: var(--font-family-alt);
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-medium);
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
}