.artworkCard {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-between;
    border: var(--border-lg);
    border-color: var(--color-light);
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    box-shadow: var(--shadow-md);
    position: relative;
}

.artworkCard img {
    width: 100%;
    padding: var(--spacing-sm);
    height: auto;
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
    margin: auto; /* Center the image vertically */
}

.artworkDetails {
    padding: 10px;
}

.artworkDetails h3 {
    margin: 0;
    font-size: 1.2rem;
}

.artworkDetails p {
    margin: 5px 0;
    font-size: 1rem;
}

.iconsContainer {
    position: absolute;
    bottom: 10px; /* Adjust as needed to control the distance from the bottom */
    right: 10px; /* Adjust as needed to control the distance from the right */
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px; /* Adjust the size of the icons as needed */
    margin-right: 5px; /* Adjust as needed to control the spacing between icons */
    border: var(--border-md) var(--color-light); /* Add border to the icons */
    padding: 5px; /* Add padding to the icons */
}

/*TODO - add media query for smaller screens*/

@media (max-width: 768px) {
    .artworkCard {
        width: 100%;
    }
}