.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    width: 100%;
    background: var(--color-transparent);
    margin: 0 20px;
    padding: var(--spacing-md);
}

.welcomeContainer li {
    font-family: var(--font-family-alt);
}

.welcomeMessage{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-content: flex-start;
}

#profileImage{
    border-radius: 50%;
}