.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  background: var(--color-transparent);
}

.gallery-info, .curator-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin-top: var(--spacing-md);
  position: relative;
}

#artist,
#curator{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}