.starRating {
    display: flex;
    align-items: center;
}

.starFilled {
    color: gold;
    font-size: var(--font-size-large); /* Default size */
    margin-right: 2px;
}

.starEmpty {
    color: grey;
    font-size: var(--font-size-large); /* Default size */
    margin-right: 2px;
}

.largeStars .starFilled,
.largeStars .starEmpty {
    font-size: var(--font-size-xlarge);
}