.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  background: var(--color-transparent);
  margin: 0 auto;
  padding: var(--spacing-md);
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 300px;
  height: auto;
  justify-content: space-evenly;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--spacing-xl);
  padding: var(--spacing-md);
}

.sortingBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--color-light);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  width: 80%;
}

.sortingLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: var(--border-radius-md);
  gap: var(--spacing-md);
  background: var(--color-primary);
  padding: var(--spacing-xs);
  width: 80%;
  list-style: none;
}

.sortingLinks li::after {
  content: "";
  margin-left: 0.5em;
  font-size: 0.8em;
}

.sortingLinks li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sortingLinks li[data-order="asc"]::after {
  content: "▲"; /* Up arrow */
}

.sortingLinks li[data-order="desc"]::after {
  content: "▼"; /* Down arrow */
}

.sortingLinks li:hover {
  color: var(--color-dark);
}

.sortingLinks p{
  align-content: center;
  margin: auto;
}

