.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    max-height: var(--navbar-height);
    background: var(--color-secondary);
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.iconLinks {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 10%;
    gap: var(--spacing-sm);
    margin-right: 20px;
}

.icon {
    fill: var(--color-light);
    stroke: var(--color-light);
    stroke-width: var(--border-lg);
    width: 24px;
    height: 24px;
}

.icon:hover {
    fill: var(--color-primary);
    stroke: var(--color-primary);
    cursor: pointer;
}

.defaultLink {
    color: var(--color-primary);
    font: var(--font-family);
    text-decoration: none;
    font-size: var(--font-size-large);
}

.activeLink {
    color: var(--color-primary);
    font: var(--font-family);
    font-size: var(--font-size-large);
    text-decoration: none;
    border-bottom: 2px solid var(--color-dark);
}

@media screen and (max-width: 768px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        background: var(--color-secondary);
        border: var(--border-md) var(--color-light);
        border-radius: var(--border-radius-lg);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        text-decoration-color: #54627B;
        padding: 20px 0;
        text-align: center;
        z-index: 1;
    }

    .navOpen {
        display: flex; /* Show nav links when the menu is open */
    }

    /* Hide normal nav links and show the hamburger menu icon */
    .menuIcon {
        display: flex;
    }
}
