.pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-md);
    justify-content: space-between;
    align-items: center;
}

.reviewData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    padding: var(--spacing-md);
    border: var(--border-md) var(--color-light);
    border-radius: var(--border-radius-lg);
    margin: var(--spacing-md);
}

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 250px;
    padding: var(--spacing-md);
    border: var(--border-md) var(--color-light);
    border-radius: var(--border-radius-lg);
    margin-bottom: var(--spacing-md);
    margin-right: var(--spacing-md);
    box-shadow: var(--shadow-md);
    position: relative;
}

.reviewTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: var(--spacing-xs);
}

.deleteButton {
    position: absolute;
    bottom: var(--spacing-md);
    right: var(--spacing-md);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-danger);
    font-size: 1.2em;
}

.logOutButton {
    width: 100px
}