.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    max-width: 1200px;
    background: var(--color-transparent);
}

.addArtworkFormContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    background: var(--color-transparent);
    font-family: var(--font-family-alt), sans-serif;
}

.inputFieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background: var(--color-transparent);
    font-family: var(--font-family-alt), sans-serif;
}

.addArtworkForm{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background: var(--color-transparent);
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
    font-family: var(--font-family-alt), sans-serif;
    border-radius: var(--border-radius-lg);
    border: var(--border-md) var(--color-light);
    box-shadow: var(--shadow-md);
}

.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: var(--font-size-medium);
}

.radioWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.checkboxWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.radioInputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.radioInput {
    display: none;
}

.customRadio {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-dark);
    position: relative;
    cursor: pointer;
    margin-left: var(--spacing-lg);
}

.customRadio::after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--color-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

.radioInput:checked + .customRadio::after {
    transform: translate(-50%, -50%) scale(1);
}

.radioLabel {
    font: var(--font-family-alt);
    font-size: var(--font-size-medium);
    margin-right: var(--spacing-lg);
    margin-left: var(--spacing-sm);
    cursor: pointer;
}

.inputField {
    padding: var(--spacing-sm);
    width: 80%;
    min-width: 150px;
    font: var(--font-family-alt);
    font-size: var(--font-size-medium);
    border-radius: var(--border-radius-lg);
    border: var(--border-md) var(--color-light);
}

.errorMessage {
    padding: 4px; /* Adjust the value as needed */
    border: var(--border-sm) var(--color-dark);
    color: var(--color-dark); /* Optional: Set the color for error messages */
    font-size: var(--font-size-small); /* Optional: Set the font size for error messages */
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    padding: var(--spacing-xxl) 0;
}

.imageContainer label {
    margin-bottom: var(--spacing-md); /* Add margin below the label */
}

.customFileUpload {
    display: inline-block;
    position: absolute; /* Change position to absolute */
    cursor: pointer;
    top: 0; /* Position at the top of the container */
    left: 0; /* Position at the left of the container */
    width: 100%; /* Cover the entire container */
    height: 100%; /* Cover the entire container */
}

.customFileUpload input[type="file"] {
    opacity: 0; /* Make the file input invisible */
    width: 100%; /* Cover the entire container */
    height: 100%; /* Cover the entire container */
    cursor: pointer; /* Change cursor to pointer */
}

.fileName {
    margin-top: var(--spacing-sm); /* Add margin above the file name */
}

.fileInput {
    display: none;
}

.uploadLabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-secondary);
    font-size: var(--font-size-large);
    border: var(--border-md) var(--color-secondary);
    padding: var(--spacing-md);
    margin-top: var(--spacing-lg);
    transition: background-color 0.3s ease;
}

.uploadLabel:hover {
    text-decoration: none;
    color: var(--color-dark);
}

.uploadIcon {
    margin-right: 8px;
}

.uploadIcon {
    font-size: var(--font-size-xlarge);
    margin-right: var(--spacing-xs);
}

.currencyWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-size: var(--font-size-large);
}

.previewImage {
    margin-top: var(--spacing-md);
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
}

@media screen and (max-width: 768px) {
    .addArtworkFormContainer {
        flex-direction: column;
        padding: var(--spacing-sm);
    }

    .checkbox {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .radioInputWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}