.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: var(--spacing-md);
    max-height: var(--footer-height);
    background: var(--color-secondary);
}

.footer h3 {
    color: var(--color-primary);
    font-family: var(--font-family-alt), sans-serif;
    text-decoration: none;
    font-size: var(--font-size-large);
}

.socialLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.contactInfo .contact {
    color: var(--color-light);
    font-family: var(--font-family-alt), sans-serif;
    font-size: var(--font-size-small);
}

.socialLinks .icon {
    fill: var(--color-light);
    stroke: var(--color-light);
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .socialLinks {
        margin-top: var(--spacing-md);
    }
    .contactInfo {
        margin-top: var(--spacing-md);
    }
}