@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*TODO Checken of ik hier ook een modules css van moet maken ?*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
:root {
  --font-family: 'Antic Didone', sans-serif;
  --font-family-alt: 'Hind Siliguri', sans-serif;
}

:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
}

/* Spacing */
:root {
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 20px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
}

/* Colors */
:root {
  --color-primary: #ECD5BB;
  --color-secondary: #54627B;
  --color-light: #C4DBE0;
  --color-dark: #710117;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-gradient: linear-gradient(45deg, hsla(32, 56%, 83%, 1) 18%, hsla(0, 0%, 100%, 1) 98%);
}

/* Borders */
:root {
  --border-sm: 1px solid;
  --border-md: 3px solid;
  --border-lg: 5px solid;
}

:root {
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
}

/* Shadows */
:root {
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Breakpoints */
:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

:root {
  --navbar-height: 80px;
  --footer-height: auto;
}

:root img {
  max-width: 100%;
  max-height: inherit;
}

:root h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--color-dark);
  padding: 20px;
}

:root p {
  font-family: var(--font-family-alt);
  font-weight: 400;
  color: var(--color-black);
  padding: 20px;
}